<!doctype html>
<title>Buzz it in</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div class=page>
	<h1>Test website</h1>
	<div class=metanav>
		<div id=searcher>		
		<form action="{{ url_for('search') }}" method=post>
			<input type="hidden" value="searchbox">
			<dt><input type=text size=20 name=searchbox>
			<input type="submit" name="submit" value="Search">
		</form>
		</div>
	{% if not session.logged_in %}
		<a href="{{ url_for('login') }}">log in</a>
	{% else %}
		<a href="{{ url_for('logout') }}">log out</a>
	{% endif %}
	</div>
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	{% endfor %}
	{% block body %}{% endblock %}
</div>