{% extends "layout.html" %}
{% block body %}
	<h2>Search Results:</h2>
	{% for entry in userentries %}
		<div class=entry>
			<p class=sideentry><b>User: {{ entry.username }}</b></p>
			{% if entry.firstname and entry.lastname %}
				<p class=sideentry>(Name: {{ entry.firstname + " " + entry.lastname }})</p>
			{% endif %}
			<div class="addfriend">
				<form action="{{ url_for('search') }}" method=post>
					<input type="hidden" name="action" value="{{ entry.username }}">
					<input type="submit" name="submit" value="Add friend">
				</form>
			</div>
		</div>
	{% else %}
		<p>No users found with those search terms.</p>
	{% endfor %}
{% endblock %}